<h1 class="text-info">Personas</h1>
<hr class="text-info"/>

<a routerLink="/persons/add" class="btn btn-primary">Agregar</a>
<br/>
<br/>

<table id="table" class="display" style="width:100%">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td></td>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td></td>
        </tr>
    </tfoot>
    <tbody>
        <tr *ngFor="let person of persons">
            <td>{{person.name}}</td>
        </tr>
    </tbody>
</table>

